* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.totall__page,
.login__page,
.main__page,
.regin__page {
    width: 100%;
    position: absolute;
}

.totall__page,
.login__page,
.regin__page {
    visibility: hidden;
}

.purchases {
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 20%;
    ;
}

body {
    background-color: rgb(31, 30, 30);
}

.registration {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.login {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.logo_wrapper {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50%;
    height: 80%;
}

header {
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.autorisated {
    position: absolute;
    visibility: hidden;
    justify-content: space-between;
}

#login {
    margin-right: 10px;
    font-size: 15px;
}

.basket-btn {
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.accaunt,
.autorisated {
    width: 25%;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
}

.money {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(201, 76, 76);
    display: flex;
}

.user-name {
    margin-right: 10px;
}

.user-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.basket-btn {
    width: 25px;
    height: 25px;
    border-radius: 15%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.basket-img {
    width: 100%;
    height: 100%;
}

.logout {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(70, 71, 75);
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
}

.user-avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.nav_btn {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.signin {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(43, 82, 187);
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
}

.maket {
    margin-top: 20px;
    width: 100%;
    height: 500px;
}

.ad {
    width: 100%;
    height: 100%;
}

.filters {
    /* width: 50%; */
    display: flex;
    /* justify-content: space-between; */
}

.manipulation_area {
    /* width: 100%; */
    margin-top: 50px;
    margin-right: 20%;
    margin-left: 20%;
}

.filter_btn {
    margin-right: 40px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.reg_btn {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(59, 61, 65);
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
}

.purchases,
.products {
    display: grid;
    grid-template-columns: repeat(4, 320px);
}

.cart {
    padding: 10PX;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 8px #888888;
    margin-top: 30px;
    border-radius: 20px;
    width: 300px;
    height: 600px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.product-img-wrapper {
    /* margin-top: 10px; */
    width: 90%;
    height: 40%;
}

.product-img {
    width: 100%;
    height: 100%;
}

.product-name {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}

.description {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.product-price {
    color: red;
    /* width: 100%; */
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-btn {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(59, 61, 65);
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
}

footer {
    background-color: black;
    margin-top: 20px;
    width: 100%;
    height: 100px;
}

.product-btn:hover,
.reg_btn:hover {
    background-color: rgb(39, 38, 38);
}

.logout:hover {
    background-color: rgb(59, 58, 58);
}

.logout:active {
    background-color: rgb(37, 37, 37);
}

.signin:hover {
    background-color: rgb(60, 29, 235);
}

.product-btn:active,
.reg_btn:active {
    background-color: rgb(53, 52, 52);
}

.signin:active {
    background-color: rgb(34, 0, 226);
}